<h2>Situación Economica</h2>
<div class="row">
	<div class="col-sm-12">

		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form">
<!-- ///////////////////////////////////////////////  PRIMER ROW //////////////////////////////// -->
		<!--   	 <div class="well"> -->
		  	 	
<!-- 			    <div class="row bs-callout bs-callout-danger" style="background-color:#e1e1e8; " >
			    
			    <h1>Seccion para calcular precio</h1>
			    <br/>
			       <div class="col-sm-3">
					    <label style="font-size: 18px;">Costos mas cargos</label>
				    	 <div class="form-control" style="font-size: 15px;" >{{((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100  | currency}}</div>
				    </div>

				    <div class="col-sm-2" >
				     <div class="form-group" style="font-size: 18px;">
				     	% de Utilidad
					    <a class="pull-left" data-toggle="popover" data-placement="top" data-content="Tasa de rendimiento minima aceptable" style="font-size: 15px;"> <i class="fa fa-info-circle" aria-hidden="true"></i></a><br/>
					    <div class="input-group">
					      <div class="input-group-addon" style="font-size: 15px;border-color: yellow">%</div>
					      	<input type="number" style="border-color: yellow" class="form-control" placeholder="TREMA" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.trema2" >
					    </div>
					 </div>
					</div>
					<div class="col-sm-2">
					    <label for="domicilio" style="font-size: 18px;">ISR</label>
				    	<input type="number" class="form-control" placeholder=""  ng-model="pl.plan.isr"  style="font-size: 15px;border-color: yellow">
			    	</div> 
			    	<div class="col-sm-3" ng-show="">
					    <label for="domicilio" style="font-size: 18px;">Factor de Recuperación</label>
				    	<div class="form-control" style="font-size: 15px;">{{1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100)))| number : 4}}</div>
			    	</div>

				    <div class="col-sm-2">
					    <label style="font-size: 18px;">Precio de Venta</label>
				    	<div class="form-control" style="font-size: 15px;">
				    	{{(((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100)))) | currency }}</div>
				    </div>
				   
		        </div><br/> -->
		


      <!--   //////////////////////////////SEGUNDO ROW//////////////////////////////// -->				    
            
<!--                  <div class="row" style="background-color:#e1e1e8;"> 
	                 <h1>Seccion para calcular egresos</h1>
	                 <br/>
	           
			    	<div class="col-sm-3">
					    <label for="Ingresos" style="font-size: 18px;">Ingresos</label>
				    	<input type="number" class="form-control" placeholder=""  ng-model="pl.plan.ingresos"  style="font-size: 15px;border-color: yellow">
			    	</div> 
				    <div class="col-sm-2">
				     <div class="form-group">
				     	<label style="font-size: 18px;"> % de Utilidad </label>
					    <a class="pull-left" data-toggle="popover" data-placement="top" data-content="Tasa de rendimiento minima aceptable" style="font-size: 15px;"> <i class="fa fa-info-circle" aria-hidden="true"></i></a><br/>
					    <div class="input-group">
					      <div class="input-group-addon" style="font-size: 15px; border-color: yellow">%</div>
					      	<input type="number" class="form-control" placeholder="TREMA" ng-change="pl.factorRecuperacionCalc()" ng-model="pl.plan.trema" style="font-size: 15px;border-color: yellow" >
					 
					    </div>
					 </div>
					</div>
					<div class="col-sm-2">
					    <label for="domicilio" style="font-size: 18px;">ISR</label>
				    	<input type="number"  style="font-size: 15px; border-color: yellow"  class="form-control" placeholder=""  ng-model="pl.plan.isr" >
			    	</div> 
			    	<div class="col-sm-3" ng-show="">
					    <label for="domicilio" style="font-size: 18px;">Factor de Recuperación</label>
				    	<div class="form-control" style="font-size: 15px;">{{1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))| number : 2}}</div>
			    	</div>
				    <div class="col-sm-2">
					    <label style="font-size: 18px;">Total de Egresos</label>
				    	<div class="form-control" style="font-size: 15px;">{{(pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) | currency}}</div>
				    </div>
				    </div>
				    <div class="row" style="background-color:#e1e1e8;">
				     <div class="col-sm-12" >
				     <div class="col-sm-3" >
						     <div class="form-group">
							    <label style="font-size: 18px;">Relacion % Cd/Ingresos</label>
							    <div class="input-group">
							      <div class="input-group-addon" style="font-size: 15px;">%</div>
							      <div class="form-control" id="exampleInputAmount" style="font-size: 15px;">{{(pl.totalFinalCostosDirectos) / (pl.plan.ingresos)* 100 | number : 2}}</div>
							   
							    </div>
							 </div>
							</div>

					    	<div class="col-sm-2">				    	
							    <label style="font-size: 18px;">Costo Directo</label>

									<div style="width: 150px; font-size: 15px;" class="form-control">
									{{pl.totalFinalCostosDirectos | currency}}</div>
			
						    </div>
					    	<div class="col-sm-3">				    	
							    <label style="font-size: 18px;">Gastos Indirectos</label>
						    	<div class="form-control" style="font-size: 15px;">{{((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)  |  currency}}</div>
						    </div>
					   
					  </div>
					    </div>
				   
			    <br/><br/> -->

	
<!-- ////////////////////////////////////////////////////TABLA////////////////////////////////////////////////////////
 -->			   <!--   <div class="row">
						<table class="table table-bordered">
							<thead>
								<tr>
								<th width="20%" style="font-size: 18px;"><div class="text-center">Precio de Venta</div></th>
								<td width="20%" style="font-size: 15px;">{{pl.plan.ingresos| currency}} </td>
								<tr>
							    <th  width="20%" style="font-size: 18px;"><div class="text-center">Costos</div></th>
							     <td width="20%" style="font-size: 15px;">{{pl.totalFinalCostosDirectos | currency}}</td>
							    
							    </tr> 
							    <tr>
							    <th  width="20%" style="font-size: 18px;"><div class="text-center">Gastos</div></th>
							    <td  width="20%" style="font-size: 15px;">{{((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)  | currency}}</td>
							    
							    </tr>
							    <tr>
							    <th  width="20%" style="font-size: 18px;"><div class="text-center">Utilidad Fiscal</div></th>
							    <td  width="20%" style="font-size: 15px;">{{(pl.plan.ingresos)- (pl.totalFinalCostosDirectos) - (((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) | currency }} </td> 
							    
							    </tr>
							    <tr>
							    <th  width="20%" style="font-size: 18px;"><div class="text-center">ISR</div></th>
							    <td  width="20%" style="font-size: 15px;">{{((pl.plan.ingresos)- (pl.totalFinalCostosDirectos) - (((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))) * 0.3 | number : 2 }}</td>
							    
							    </tr>
							    <tr>
							    <th  width="20%" style="font-size: 18px;"><div class="text-center">PTU</div></th>
							    <td  width="20%" style="font-size: 15px;">{{((pl.plan.ingresos)- (pl.totalFinalCostosDirectos) - (((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))) * 0.1 | currency}}</td>
							    
							    </tr>
							    <tr>
							    <th  width="20%" style="font-size: 18px;"><div class="text-center">Utilidad Neta</div></th>
							    <td  width="20%" style="font-size: 15px;">{{(((pl.plan.ingresos)- (pl.totalFinalCostosDirectos) - (((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))) - 
							    (((pl.plan.ingresos)- (pl.totalFinalCostosDirectos) - (((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))) * 0.3)-
							     (((pl.plan.ingresos)- (pl.totalFinalCostosDirectos) - (((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))) * 0.1 ))  | currency}}</td>
							    
							    </tr>
							    <tr>
							    <th  width="20%" style="font-size: 18px;"> <div class="text-center">Rentabilidad</div></th>
							    <td  width="20%" style="font-size: 15px;">{{((((pl.plan.ingresos)- (pl.totalFinalCostosDirectos) - (((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))) - 
							    (((pl.plan.ingresos)- (pl.totalFinalCostosDirectos) - (((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))) * 0.3)-
							     (((pl.plan.ingresos)- (pl.totalFinalCostosDirectos) - (((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))) * 0.1 ))) / (pl.plan.ingresos)*100 | number:2}}%</td>
							    
							    </tr>
								</tr>
							</thead>
						</table>
					
				</div> -->
		  <!-- 	</div> -->
<!-- Distribucion de Gastos -->
		  	
<!-- Costos Directos -->
<!-- <div class="well"> -->
		<!-- <h2 style="text-align: center">Plan de reduccion de costos directos</h2><br/>
	
					<br/>
			
							<table style="width:80%">
							<thead>
														
									<tr style="height: 50px;" ng-repeat="costo in pl.costosTotales">
										<td>{{costo.costo}}</td><br/>
										<td>
											<div class="col-sm-12">
											<label style="font-size: 18px;">Porcentaje</label>
												<div style="width: 80px; font-size: 15px;" class="form-control">{{(costo.total) / (pl.totalFinalCostosDirectos)*100 | number : 2}}%</div>
						    				</div>
						    			</td>
										<td >
										 	<div class="col-sm-12">
										 	<label style="font-size: 18px;">Presupuesto Base</label>
					    						<div style="width: 150px; font-size: 15px;" class="form-control">{{costo.total | currency}}</div>
						    				</div>
						    			</td>
						    		
						  			    <td>
						  			    	<div class="col-sm-12">
						  			    	<label style="font-size: 18px;">Presupuesto Ajustado</label>
												<div style="width: 150px; font-size: 15px;" class="form-control">{{costo.presupuestoTotal | currency}}</div>
						    				</div>
						    			</td>	    			
									</tr>
									</thead>
									<tbody>
									<tr>
									<th></th>
										<th>
										 <div class="col-sm-12" >
										   
										     <label style="font-size: 18px; ">Total</label>
											       <div style="width: 80px; font-size: 15px;" class="form-control">{{pl.costoTotalTotal.totalDePorcentaje}}%</div>
											 
							            </div>

												
										</th>
										<th>
										<div class="col-sm-12">
										<label style="font-size: 18px;">Total</label>
												<div style="width: 150px; font-size: 15px;" class="form-control">{{pl.totalFinalCostosDirectos | currency}}</div>
												</div>
						    												    
										</th>

										<th>
										<div class="col-sm-12">
										<label style="font-size: 18px;">Total</label>
												<div style="width: 150px; font-size: 15px;" class="form-control">{{pl.costoTotalPres | currency }}</div>					    				
						    				</div>									    
										</th>
									</tr>
									</tbody>	
							</table><br/> -->


<!-- 
                    <div class="row">
							<div class="col-sm-12">
							
				<div ng-repeat="(key, costo) in pl.costos" style="margin-top: 2px; font-size: 15px;" class="col-sm-4 ">
				<div class="form-group">
						<label for="{{key}}">{{costo.nombre}}</label>
						 <div class="input-group">
						 <div class="input-group-addon">%</div>
							
							<input type="number" id="{{key}}" style="border-color: yellow" class="form-control" ng-model="costo.factor">
							 </div>
						</div>
					</div>
					</div>
					</div> -->
				
				<!-- 	<div class="row" ng-repeat="plan in pl.planes">
						<br>
						<div class="col-sm-12">
						<input type="submit" ng-click="pl.editarCambios(plan._id)" value="Editar" class="btn btn-primary" ng-show="pl.editCam"   >
							<input type="submit" ng-click="pl.actualizarCambios(pl.plan,pl.costos,plan._id)" value="Actualizar Cambios" class="btn btn-primary" >
						</div>
					</div> -->
						<!-- </div> -->


<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
						<!-- <div class="well">
					<h2 style="text-align: center; font-size: 18px;">Gastos Indirectos</h2>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label style="font-size: 18px;">Gastos de Oficina</label>
						    </div>
						    <div class="col-sm-2">
					    		<div class="form-control">{{(((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento)) | currency }}</div>
						    </div>

						    <div class="col-sm-2">
							     <div class="form-group">
								    <div class="input-group">
								      <div class="input-group-addon" style="border-color: yellow" >%</div>
								       <input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" style="border-color: yellow" ng-model="pl.plan.gastosFijosOficina1" >
								    </div>
								 </div>
							</div>

						
						    <div class="col-sm-2">
									<div class="form-control">{{((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100)  | currency}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label style="font-size: 18px;">Gastos Indirectos de Campo</label>
						    </div>
						    <div class="col-sm-2" >
								<div class="form-control">{{(((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento)) | currency }}</div>
						    </div>


						     <div class="col-sm-2">
							     <div class="form-group">
								    <div class="input-group">
								      <div class="input-group-addon" style="border-color: yellow">%</div>
								       <input type="number" class="form-control" placeholder="" ng-change="pl.factorRecuperacionCalc()" style="border-color: yellow" ng-model="pl.plan.gastosIndirectosCampo1" >
								    </div>
								 </div>
							</div>


				


						    <div class="col-sm-2">
									<div class="form-control">{{((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)    | currency}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-3">
									<label style="font-size: 18px;">Total</label>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos) | currency}}</div>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{hola}}</div>
						    </div>
						    <div class="col-sm-2">
									<div class="form-control">{{(((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100))  +  (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)) | currency }}</div>
						    </div>
						
							</div>
				    </div>
			    </div>
		  	</div> -->
		  	<!-- ///////////////////////////ESTADISTICA DE GASTOS INDIRECTOS PARA LA OBRA ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
		  	<!-- <div class="well">
			    <div class="row">
								
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-6">
									<label style="font-size: 18px;">ESTADISTICA DE GASTOS INDIRECTOS PARA LA OBRA</label>
						    </div>
						
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">

				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label style="font-size: 18px;">Presupuesto de indirecto total</label>
						    </div>
						    <div class="col-sm-4">
							    <div class="form-control">
							    {{((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)  | currency}} 
							    </div>

						   </div>
								
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label style="font-size: 18px;">Gastos fijos de oficina mensual  sin IVA	</label>
						    </div>
						  <div class="col-sm-4">
					    		<input type="number" class="form-control" style="border-color: yellow"  ng-model="pl.plan.gastosOficinaSinIva" >
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label style="font-size: 16px;">Presupuesto Gastos de oficina  estadistico para la obra	
	</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{((pl.plan.ingresos)* (((pl.todosGastosOficinas()) + (pl.camposTotales2())) / (pl.ingresosTotales2())*100)) / 100 | currency}}</div>
						    </div>
							</div>
				    </div>
			    </div>
		  	</div> -->

<!-- Ultima Tabla -->
		<!--   	<div class="well">
			    <div class="row">
			  
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label style="font-size: 18px;">Si la obra se ejecuto en</label>
						    </div>
						    <div class="col-sm-1">
						    <label style="font-size: 18px;">Meses</label>
					    		<input type="number" class="form-control" style="border-color: yellow"   ng-model="pl.plan.meses" >
						    </div>
						
							</div>uy
				    </div>
			    </div>
			    <br/>
			    <div class="row">

				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label style="font-size: 18px;">Nuevo presupuesto de Gastos Indirectos Mensual</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control">{{(((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) / pl.plan.meses | currency }}</div>
								</div>
							</div>
				    </div>
			    </div>
			    <br/>
			    <div class="row">
				    <div class="col-sm-12">
							<div class="row">
						    <div class="col-sm-4">
									<label style="font-size: 18px; ">Ajuste presupuestal de Indirectos</label>
						    </div>
						    <div class="col-sm-4">
									<div class="form-control" >{{
									(pl.plan.gastosOficinaSinIva) - ((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) / pl.plan.meses) | number:2}}</div>
						    </div>
							</div>
				    </div>
			    </div>
			    <br/>
		  	</div> -->
<!-- Estado de Resultado -->
<!-- ///////////////////////////////////////TABLA////////////////////////////////////-->	
            <div class="well">			 
                <div class="row">
					<div class="col-sm-12">
					<!-- <div  class="text-center"><h2>Situación Actual</h2></div> -->	
					<h3>{{pl.obra.nombre}}</h3>
						<table class="table table-bordered">
							<thead>
							<tr>
							<th style="font-size: 18px;"><div class="text-center">Estados de resultados</div></th>
							<th style="font-size: 18px;"><div class="text-center">Proyectado</div></th>
							<th> <div class="text-center" style="font-size: 18px;">Obra ejecutada</div></th>
							<th> <div class="text-center" style="font-size: 18px;">Economico Actual</div></th>
							</tr>
								<tr>
								<th width="20%" style="font-size: 18px;"><div class="text-center">Valor Economico</div></th>
								<td width="20%" style="font-size: 15px;">{{pl.plan.ingresos| currency}} </td>
								<td width="20%" style="font-size: 15px;"> {{pl.cobroTotalFinalValor() | currency}}</td>
								<td width="20%" style="font-size: 15px;"> {{pl.jaime[0].ingresosObra  | currency}}</td>
								<tr>
							    <th  width="20%" style="font-size: 18px;"><div class="text-center">Costos</div></th>
							     <td width="20%" style="font-size: 15px;">{{pl.costoTotalPres | currency}} </td>
							     <td width="20%" style="font-size: 15px;">{{pl.camposTotales3() | currency}} </td> 
							      <td width="20%" style="font-size: 15px;">{{pl.camposTotales3() | currency}} </td> 
							    </tr> 
							    <tr>


							    <th  width="20%" style="font-size: 18px;"><div class="text-center">Gastos</div></th>
							    <td  width="20%" style="font-size: 15px;">{{(((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100))    +  (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)) | currency }}

							    </td>
							     <td  width="20%" style="font-size: 15px;">{{pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo() | currency}} </td> 
							      <td  width="20%" style="font-size: 15px;">{{pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo() | currency}} </td> 
							    </tr>
							    <tr>
							  
							    <th  width="20%" style="font-size: 18px;"><div class="text-center">Utilidad Fiscal + Exedente de Indirectos</div></th>
							    <td  width="20%" style="font-size: 15px;">{{
							    (pl.plan.ingresos)     -  (pl.costoTotalPres)    -  ((((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100))  +  (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)))     -    (((pl.plan.gastosOficinaSinIva) - ((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) / pl.plan.meses)) * pl.plan.meses)  | currency}} </td> 





							    
							   <td  width="20%" style="font-size: 15px;">{{(pl.cobroTotalFinalValor())-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo()) | currency }} </td>

							    <td  width="20%" style="font-size: 15px;">{{(pl.jaime[0].ingresosObra)-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo())  | currency }} </td> 

							    </tr>
							    <tr>
							    <th  width="20%" style="font-size: 18px;"><div class="text-center">ISR</div></th>
							    <td  width="20%" style="font-size: 15px;">{{((pl.plan.ingresos)     -  (pl.costoTotalPres)    -  ((((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100))  +  (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)))     -    (((pl.plan.gastosOficinaSinIva) - ((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) / pl.plan.meses)) * pl.plan.meses) ) * (pl.plan.isr /100) | currency}} </td>

					    		 <td  width="20%" style="font-size: 15px;">
					    		 {{((pl.cobroTotalFinalValor())-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo())) * (pl.plan.isr)/100 | currency}}
					    		 </td>

					    		  <td  width="20%" style="font-size: 15px;">
					    		 {{((pl.jaime[0].ingresosObra)-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo()))  * (pl.plan.isr)/100 | currency}}
					    		 </td>



							    </tr>
							    <tr>
							    <th  width="20%" style="font-size: 18px;"><div class="text-center">PTU</div></th>
							    <td  width="20%" style="font-size: 15px;">{{((pl.plan.ingresos)     -  (pl.costoTotalPres)    -  ((((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100))  +  (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)))     -    (((pl.plan.gastosOficinaSinIva) - ((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) / pl.plan.meses)) * pl.plan.meses) ) * 10/100 | currency }}</td>

							     <td  width="20%" style="font-size: 15px;">{{((pl.cobroTotalFinalValor())-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo())) * (10 / 100) | currency}}  
							     </td>

							       <td  width="20%" style="font-size: 15px;">{{((pl.jaime[0].ingresosObra)-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo())) * (10 / 100) | currency}}  
							     </td>

							    </tr>






							    <tr>
							    <th  width="20%" style="font-size: 18px;"><div class="text-center">Utilidad Neta</div></th>
							    <td  width="20%" style="font-size: 15px;">{{((pl.plan.ingresos)     -  (pl.costoTotalPres)    -  ((((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100))  +  (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)))     -    (((pl.plan.gastosOficinaSinIva) - ((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) / pl.plan.meses)) * pl.plan.meses))    -  (((pl.plan.ingresos)     -  (pl.costoTotalPres)    -  ((((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100))  +  (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)))     -    (((pl.plan.gastosOficinaSinIva) - ((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) / pl.plan.meses)) * pl.plan.meses) ) * (pl.plan.isr /100))   -  (((pl.plan.ingresos)     -  (pl.costoTotalPres)    -  ((((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100))  +  (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)))     -    (((pl.plan.gastosOficinaSinIva) - ((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) / pl.plan.meses)) * pl.plan.meses)) * 10/100)   | currency}}
							      </td>

							    <td  width="20%" style="font-size: 15px;">{{((pl.cobroTotalFinalValor())-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo()))  -   (((pl.cobroTotalFinalValor())-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo()))  * (pl.plan.isr)/100)    -   (((pl.cobroTotalFinalValor())-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo())) * (10 / 100)) | currency}} </td> 


							     <td  width="20%" style="font-size: 15px;">{{((pl.jaime[0].ingresosObra)-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo()))  -   (((pl.jaime[0].ingresosObra)-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo()))  * (pl.plan.isr)/100)    -   (((pl.jaime[0].ingresosObra)-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo())) * (10 / 100)) | currency}} </td>

							    </tr>






							    <tr>
							    <th  width="20%" style="font-size: 18px;"> <div class="text-center">Rentabilidad</div></th>
							    <td  width="20%" style="font-size: 15px;">{{(((pl.plan.ingresos)     -  (pl.costoTotalPres)    -  ((((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100))  +  (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)))     -    (((pl.plan.gastosOficinaSinIva) - ((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) / pl.plan.meses)) * pl.plan.meses))    -  (((pl.plan.ingresos)     -  (pl.costoTotalPres)    -  ((((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100))  +  (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)))     -    (((pl.plan.gastosOficinaSinIva) - ((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) / pl.plan.meses)) * pl.plan.meses) ) * (pl.plan.isr /100))   -  (((pl.plan.ingresos)     -  (pl.costoTotalPres)    -  ((((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))    +     (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) + (((pl.totalFinalCostosDirectos)+((pl.totalFinalCostosDirectos * pl.cosas[0].costoIndirecto)/ 100)) * (pl.cosas[0].cargoAdicional/100))) * (pl.cosas[0].cargoAdicional)/ 100 ) * (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema2/100))))/ (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100)))) / 100 * 100)-(pl.totalFinalCostosDirectos))*((((pl.cosas[0].costoFinanciamento)  + (pl.cosas[0].cargoAdicional)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) *  (pl.plan.gastosFijosOficina1)/100))  +  (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) - (((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) *((((pl.cosas[0].costoIndirecto)))/
					    		(pl.cosas[0].cargoAdicional + pl.cosas[0].costoIndirecto + pl.cosas[0].costoFinanciamento))) * (pl.plan.gastosIndirectosCampo1)/100)))     -    (((pl.plan.gastosOficinaSinIva) - ((((pl.plan.ingresos) / (1/(1-((100/(100 -(10 + pl.plan.isr)))*(pl.plan.trema/100))))) -  (pl.totalFinalCostosDirectos)) / pl.plan.meses)) * pl.plan.meses)) * 10/100))/(pl.plan.ingresos)*100 | number:2}}%</td>

							    <td  width="20%" style="font-size: 15px;"> {{(((pl.cobroTotalFinalValor())-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo()))  -   (((pl.cobroTotalFinalValor())-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo()))  * (pl.plan.isr)/100)    -   (((pl.cobroTotalFinalValor())-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo())) * (10 / 100))) / (pl.cobroTotalFinalValor()) * 100  | number:2}}% </td>


							    <td  width="20%" style="font-size: 15px;"> {{(((pl.jaime[0].ingresosObra)-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo()))  -   (((pl.jaime[0].ingresosObra)-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo()))  * (pl.plan.isr)/100)    -   (((pl.jaime[0].ingresosObra)-(pl.camposTotales3())  -  (pl.indirectoMes2[0].pagoEmpresa  + pl.indirectoMes[0].pagoEmpresa + pl.gastosCampo())) * (10 / 100))) / (pl.jaime[0].ingresosObra) * 100  | number:2}}% </td>
							    
							    </tr>
								</tr>
							</thead>
						</table>
					</div>
				</div>

				<!-- ///////////////////////////////////////////// SEGUNDA TABLA ///////////////////////////////////////// -->

				<div class="row">
					<div class="col-sm-6">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th style="font-size: 18px;"><div class="text-center">Cuentas por pagar</div></th>
									<td style="font-size: 15px;"><div class="text-center" style="font-size: 15px;"></div>{{pl.gastosMasCostosTotales() - pl.pagosProveedoresTotales() | currency}}</td>
							    </tr>
							
							    <tr>
									<th style="font-size: 18px;"><div class="text-center">Facturas por cobrar</div></th>
									<td style="font-size: 15px;"><div class="text-center" style="font-size: 15px;"></div>
									{{pl.cargosObra() -pl.abonos() | currency}}</td>
							    </tr>
							    <tr>
									<th style="font-size: 18px;"><div class="text-center">Producción sin facturar</div></th>
									<td style="font-size: 15px;"><div class="text-center" style="font-size: 15px;"></div>
									{{pl.cobroTotalFinalValor() - pl.jaime[0].ingresosObra | currency}}</td>
							    </tr>
							    <tr>
									<th style="font-size: 18px;"><div class="text-center">Saldo Disponible</div></th>
									<td style="font-size: 15px;"><div class="text-center" style="font-size: 15px;"></div>
									{{(pl.cobrosTotales())-(pl.gastosMasCostos()) | currency}}</td>
							    </tr>
							</thead>
						</table>
					</div>
				</div>

			 <br/>
		    	</div>
		  </form>
		</div>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-sm-12" ng-repeat="plan in pl.planes">
     <button class="btn btn-primary" ng-click="pl.editar(plan._id)">Ver situación actual</button>


	</div>
</div>

