<header id="header">
	<div id="logo-group">
		<!-- <span id="logo"> <img src="img/logo.png" alt="SmartAdmin"> </span> -->
	</div>
</header>
<div id="content" class="container">				
	<div class="row">
		<div class="col-lg-4 col-sm-4">
			<div class="well no-padding">
				<form id="login-form" class="smart-form client-form" novalidate>
	        <header>Iniciar Sesión</header>
	        <fieldset>
	          <section>
	            <label for="" class="label">Nombre de Usuario</label>
	            <label for="" class="input">
	              <i class="icon-append fa fa-user"></i>
	              <input type="text" name="username" ng-model="lc.credentials.username">
	            </label>
	          </section>	
	          <section>
	            <label for="" class="label">Contraseña</label>
	            <label class="input">
	              <i class="icon-append fa fa-lock"></i>
	              <input type="password" name="password" ng-model="lc.credentials.password">
	            </label>
	          </section>
	        </fieldset>	
	        <footer>
	          <button class="btn btn-primary" type="submit" ng-click="lc.login()">Iniciar Sesión</button>
	        </footer>
	      </form>
			</div>	

														
		</div>
		<div class="col-sm-2 font-xs"><h2 style="font-size: 15px;" class="row-seperator-header"><i class="fa fa-square-o"></i> PAE-PROYECTOS</h2>
			<div>
				<p>Numero de registro: </p>
				<p>03-2004-031014452700-01</p>
			</div>
		</div>

		<!-- <div class="col-sm-4"><h3>PAE-OBRAS</h3></div> -->
		<div class=" col-sm-6 col-lg-6 pull-right" style="height: 50px;width: 570px; margin-top: -18px;margin-bottom: 21px;"><br/>
				
			
										<!-- <h3>Carousel <code>
											.slide</code></h3>
										<p>
											Default sliding carousel with base class of <code>
												.carousel .slide</code>
										</p> -->
										<div id="myCarousel-2" class="carousel slide">
											<ol class="carousel-indicators">
												<li data-target="#myCarousel-2" data-slide-to="0" class=""></li>
												
											</ol>
											<div class="carousel-inner">
												
												<div class="item">
													<img src="img/fondo.png" alt="">
													<div class="carousel-caption caption">
														<!-- <h4>PAE-OBRAS </h4>
														<p>
															Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
														</p>
														<p>Numero de registro 03-2004-031014452700-01</p>
														<br> -->
														
													</div>
												</div>
												
											<!-- 	<div class="item">
													<img src="img/fondo.png" alt="">
													<div class="carousel-caption caption-left">
													</div>
												</div> -->
												
												<div class="item active">
													<img src="img/fondo.png" alt="">
													<div class="carousel-caption">
													</div>
												</div>
											</div>
											<a class="left carousel-control" href="#myCarousel-2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
											<a class="right carousel-control" href="#myCarousel-2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
										</div>
				
			
			</div>
			<br/>
			<div class="row">
		<iframe src="http://ecoeficienciaempresarial.mx" class="col-sm-12" style="height:2000px;"></iframe>
		</div> 

	</div>	
</div>